examples/http_html.json
[{"id":"17646079.863cc","type":"http in","z":"9b546cc2.584d9","name":"","url":"bme280","method":"get","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["56ddef05.a245c"]]},{"id":"12587b55.d46e65","type":"http response","z":"9b546cc2.584d9","name":"","statusCode":"200","headers":{},"x":600,"y":860,"wires":[]},{"id":"2a13956c.f3379a","type":"template","z":"9b546cc2.584d9","name":"メインHTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BME280 DATA: <BR>\n<HR>\nTEMPERATURE: {{payload.temperature_C}}<BR>\nPRESSURE: {{payload.pressure_hPa}}<BR>\nHUMIDITY: {{payload.humidity}}<BR>\n<HR>","output":"str","x":430,"y":860,"wires":[["12587b55.d46e65"]]},{"id":"56ddef05.a245c","type":"Bme280","z":"9b546cc2.584d9","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":260,"y":860,"wires":[["2a13956c.f3379a"]]}]
