examples/http_json.json
[{"id":"17646079.863cc","type":"http in","z":"9b546cc2.584d9","name":"","url":"bme280json","method":"get","upload":false,"swaggerDoc":"","x":110,"y":860,"wires":[["56ddef05.a245c"]]},{"id":"12587b55.d46e65","type":"http response","z":"9b546cc2.584d9","name":"","statusCode":"200","headers":{},"x":720,"y":860,"wires":[]},{"id":"56ddef05.a245c","type":"Bme280","z":"9b546cc2.584d9","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":280,"y":860,"wires":[["46a48ddd.381ca4"]]},{"id":"46a48ddd.381ca4","type":"json","z":"9b546cc2.584d9","name":"","property":"payload","action":"","pretty":false,"x":410,"y":860,"wires":[["7dc41cd6.f34034"]]},{"id":"7dc41cd6.f34034","type":"template","z":"9b546cc2.584d9","name":"plain json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":560,"y":860,"wires":[["12587b55.d46e65"]]}]
